.unbulleted ul li {
    list-style-type: none;
}

/*
.container div {
  text-align: left;
}*/

.blogitem {
  border-radius: 25px;
  background: #00cdcf;
  padding: 20px;
  text-align: left;
}

.floatingmenu
{
    position: fixed;
    background-color: #ffffff;
    top: 0%;
    left:0%;
    right:0%;
    z-index: 1;
}

.floatingmenu>div {
  position:relative;
  right: 20%;
  left:20%;
  background-color: #ffffff;
}
