.unbulleted ul li {
    list-style-type: none;
}

/*
.container div {
  text-align: left;
}*/

.blogitem {
  border-radius: 25px;
  background: #00cdcf;
  padding: 20px;
  text-align: left;
}

#floatingbutton
{
    position: fixed;
    top: 30%;
    left:10%;
    z-index: 1;
}
